<div class="h-full w-full flex flex-col gap-2">
  <div class="w-full flex items-center bg-gray-200 font-semibold rounded-sm py-1">
    <div class="grow flex justify-center border-r border-gray-300">OFFLINE</div>
    <div class="w-40 flex justify-center">NO ALARM</div>
</div>
  <div class="h-[500px] w-full grid grid-cols-6 ">
    <div class="h-full col-span-6 lg:col-span-2 bg-red-100"></div>
    <div class="h-full col-span-6 lg:col-span-2 bg-green-100"></div>
    <div class="h-full col-span-6 lg:col-span-2 bg-blue-100"></div>
  </div>
</div>
