<div
  class="bg-gray-100 relative w-full h-full p-4 grid grid-cols-3 gap-2 p-2 pb-6 md:pb-2 rounded-md font-semibold"
>
  <!-- legend -->
  <nz-alert
    class="absolute left-[-1px] top-[-8px] !p-0"
    nzType="info"
    nzMessage="Live Gas & Water Ratios"
  ></nz-alert>

  <div class="flex flex-col col-span-3 gap-2 mb-2">
    <!-- header -->
    <div class="grid grid-cols-3 col-span-3 gap-2">
      <span class="h-[25px]"></span>
      <span class="border-b border-gray-400 block text-center">Flow Rates</span>
      <span class="border-b border-gray-400 block text-center">Statistics</span>
    </div>
    <div class="grid grid-cols-6 col-span-3 gap-3">
      <span class="border-b border-gray-400 block text-center">Ratios</span>
      <span class="border-b border-gray-400 block text-center">Unit</span>
      <span class="border-b border-gray-400 block text-center">Instant</span>
      <span class="border-b border-gray-400 block text-center text-nowrap">1H Average</span>
      <div class="grid grid-cols-3 gap-3 col-span-2">
        <span class="border-b border-gray-400 block text-center">Min</span>
        <span class="border-b border-gray-400 block text-center">Max</span>
        <span class="border-b border-gray-400 block text-center">Average</span>
      </div>
    </div>
    <!-- data -->
    <div class="flex flex-col col-span-3 pt-2">
      <div class="grid grid-cols-6 h-[20px] text-center gap-1">
        <label nz-checkbox>GOR</label>
        <span class="text-red-400 centered">SCF / STB</span>
        <input nz-input placeholder="" type="number" />
        <input nz-input placeholder="" type="number" />
        <div class="grid grid-cols-3 col-span-2 gap-1">
          <input class="!bg-sky-100" nz-input placeholder="" type="number" />
          <input class="!bg-sky-100" nz-input placeholder="" type="number" />
          <input class="!bg-sky-100" nz-input placeholder="" type="number" />
        </div>
      </div>
    </div>
    <div class="flex flex-col col-span-3 pt-2">
      <div class="grid grid-cols-6 h-[20px] text-center gap-1">
        <label nz-checkbox>GVF</label>
        <span class="centered">%</span>
        <input nz-input placeholder="" type="number" />
        <input nz-input placeholder="" type="number" />
        <div class="grid grid-cols-3 col-span-2 gap-1">
          <input class="!bg-sky-100" nz-input placeholder="" type="number" />
          <input class="!bg-sky-100" nz-input placeholder="" type="number" />
          <input class="!bg-sky-100" nz-input placeholder="" type="number" />
        </div>
      </div>
    </div>
    <div class="flex flex-col col-span-3 pt-2">
      <div class="grid grid-cols-6 h-[20px] text-center gap-1">
        <label class="text-nowrap" nz-checkbox>Gas Holdup</label>
        <span class="centered">%</span>
        <input nz-input placeholder="" type="number" />
        <input nz-input placeholder="" type="number" />
        <div class="grid grid-cols-3 col-span-2 gap-1">
          <input class="!bg-sky-100" nz-input placeholder="" type="number" />
          <input class="!bg-sky-100" nz-input placeholder="" type="number" />
          <input class="!bg-sky-100" nz-input placeholder="" type="number" />
        </div>
      </div>
    </div>
    <div class="flex flex-col col-span-3 pt-2">
      <div class="grid grid-cols-6 h-[20px] text-center gap-1">
        <label nz-checkbox>WCT</label>
        <span>%</span>
        <input nz-input placeholder="" type="number" />
        <input nz-input placeholder="" type="number" />
        <div class="grid grid-cols-3 col-span-2 gap-1">
          <input class="!bg-sky-100" nz-input placeholder="" type="number" />
          <input class="!bg-sky-100" nz-input placeholder="" type="number" />
          <input class="!bg-sky-100" nz-input placeholder="" type="number" />
        </div>
      </div>
    </div>
    <div class="flex flex-col col-span-3 pt-2">
      <div class="grid grid-cols-6 h-[20px] text-center gap-1">
        <label nz-checkbox>WLR</label>
        <span class="centered">%</span>
        <input nz-input placeholder="" type="number" />
        <input nz-input placeholder="" type="number" />
        <div class="grid grid-cols-3 col-span-2 gap-1">
          <input class="!bg-sky-100" nz-input placeholder="" type="number" />
          <input class="!bg-sky-100" nz-input placeholder="" type="number" />
          <input class="!bg-sky-100" nz-input placeholder="" type="number" />
        </div>
      </div>
    </div>
    <div class="flex flex-col col-span-3 pt-2">
      <div class="grid grid-cols-6 h-[20px] text-center gap-1">
        <label nz-checkbox class="text-nowrap">Water Holdup</label>
        <span class="centered">%</span>
        <input nz-input placeholder="" type="number" />
        <input nz-input placeholder="" type="number" />
        <div class="grid grid-cols-3 col-span-2 gap-1">
          <input class="!bg-sky-100" nz-input placeholder="" type="number" />
          <input class="!bg-sky-100" nz-input placeholder="" type="number" />
          <input class="!bg-sky-100" nz-input placeholder="" type="number" />
        </div>
      </div>
    </div>
  </div>

  <!-- ✅✅✅BOTTOM✅✅✅ -->
  <!-- <div class="col-span-3 border-t border-gray-400"></div> -->
  <div class="col-span-2 hidden md:inline"></div>
  <!-- right middle -->
  <div class="col-span-3 md:col-span-1 flex flex-col justify-between h-[50px] gap-1">
    <input
      class="h-6"
      nz-input
      placeholder="Statistics Start and Duration"
      type="number"
    />
    <div class="flex flex-col md:flex-row justify-between text-[12px]">
      <span>2025/07/05</span>
      <div
        class="flex items-center justify-center border border-gray-400 h-fit px-2"
      >
        Reset All
      </div>
    </div>
  </div>
</div>
