<div
  class="bg-green-50 relative flex flex-col w-full h-full px-2 border border-gray-300 rounded-md font-semibold"
>
  <nz-alert
    class="absolute left-[-1px] top-[-8px] !p-0"
    nzType="info"
    nzMessage="Live Volumes"
  ></nz-alert>

  <div class="w-full grow">
    <span class="border-b border-gray-400 block text-center">Cumulative</span>

    <!-- table header -->
    <div class="w-full grid grid-cols-2 gap-2">
      <span class="border-b border-gray-400 block text-center text-nowrap">
        Metered Volume
        <span class="text-red-400 text-[10px]">(Running...)</span> </span
      ><span class="border-b border-gray-400 block text-center">Unit </span>
    </div>

    <!-- table -->
    <div class="grid grid-cols-2 gap-2 py-1">
      <input nz-input placeholder="" type="number" />
      <span class="text-center text-red-400">STB</span>
    </div>
    <div class="grid grid-cols-2 gap-2 py-1">
      <input nz-input placeholder="" type="number" />
      <span class="text-center text-red-400">STB</span>
    </div>
    <div class="grid grid-cols-2 gap-2 py-1">
      <input nz-input placeholder="" type="number" />
      <span class="text-center text-red-400">STB</span>
    </div>
    <div class="grid grid-cols-2 gap-2 py-1">
      <input nz-input placeholder="" type="number" />
      <span class="text-center text-red-400">MSCF</span>
    </div>
  </div>

  <nz-alert
    class="py-2"
    nzType="success"
    nzMessage="Start time: 00:41:12 - Duration: 1:20:14"
  ></nz-alert>

  <!-- volume measurement -->
  <!-- <div class="col-span-3 border-t border-gray-400"></div> -->
  <div class="flex flex-col pb-3">
    <span class="font-normal text-[12px]">Volume Measurement Controls</span>
    <div class="flex gap-2 justify-center mt-2">
      <div
        class="flex items-center justify-center border border-gray-400 h-fit px-4"
      >
        Start
      </div>
      <div
        class="flex items-center justify-center border border-gray-400 h-fit px-4"
      >
        Stop
      </div>
      <div
        class="flex items-center justify-center border border-gray-400 h-fit px-4"
      >
        Reset
      </div>
    </div>
  </div>
</div>
