<div
  class="bg-[#e2fffd] relative flex flex-col w-full h-full p-4 rounded-md font-semibold"
>
  <nz-alert
    class="absolute left-[-1px] top-[-8px] !p-0"
    nzType="info"
    nzMessage="Live Volumes"
  ></nz-alert>

  <div class="w-full grow mb-4">
    <span class="border-b border-gray-400 block text-center">Cumulative</span>

    <!-- table header -->
    <div class="w-full grid grid-cols-2 gap-6">
      <span class="border-b border-gray-400 block text-center text-nowrap">
        Metered Volume
        <span class="text-red-400 text-[10px]">(Running...)</span> </span
      ><span class="border-b border-gray-400 block text-center">Unit </span>
    </div>

    <!-- table -->
    <div class="grid grid-cols-2 gap-2 py-1">
      <input class="!bg-yellow-100" nz-input placeholder="" type="number" />
      <span class="text-center text-red-400">STB</span>
    </div>
    <div class="grid grid-cols-2 gap-2 py-1">
      <input class="!bg-yellow-100" nz-input placeholder="" type="number" />
      <span class="text-center text-red-400">STB</span>
    </div>
    <div class="grid grid-cols-2 gap-2 py-1">
      <input class="!bg-yellow-100" nz-input placeholder="" type="number" />
      <span class="text-center text-red-400">STB</span>
    </div>
    <div class="grid grid-cols-2 gap-2 py-1">
      <input class="!bg-yellow-100" nz-input placeholder="" type="number" />
      <span class="text-center text-red-400">MSCF</span>
    </div>
  </div>

  <nz-alert
    class="py-2"
    nzType="success"
    nzMessage="Start time: 00:41:12 - Duration: 1:20:14"
  ></nz-alert>
</div>
